body {
    font-family: 'Poppins', sans-serif;

}

header {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 130px;
}


.banner {
    display: flex;
    justify-content: center;
    width: 1321px;
    height: 646px;
    background-color: black;
    margin-left: 140;
    margin-right: 140;
    border-radius: 30px;

}

.banner-text {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 531px;
    height: 424px;
    margin: 111px 0px 111px 106px;
    padding-right: 50px;
}

.banner-text h1 {
    font-weight: 700;
    font-size: 70px;
    margin: 0;
}

.banner-text p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 30px;
}

.banner-text button {
    Width: 187px;
    Height: 56px;
    background-color: tomato;
    border-radius: 5px;
    color: white;
    font-family: 'HelveticaNeue';
    font-weight: 400;
    font-size: 20px;

}

.banner-image img {
    width: 581px;
    height: 613px;
    margin-top: 33px;
    margin-right: 79px;
}

main {

    display: flex;
    justify-content: center;
    margin-bottom: 130px;


}

.blog {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    column-gap: 24px;
    row-gap: 24px;
    margin-left: 24px;
    padding: 0;
}

.blog-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 312px;
    height: 312px;
    background-color: black;
    border-radius: 10px;
}

.blog-menu button {
    width: 252px;
    height: 64px;
    border-radius: 5px;
    margin-top: 30px;
}

.blog-menu button a {
    text-decoration: none;
    padding: 252px 64px;
    color: black;
}

#active {
    background-color: tomato;
    color: white;
}

.blog-content {
    width: 312px;
    height: 362px;

}

.blog-img img {
    width: 312px;
    height: 175px;
}

.blog-btn button {
    font-weight: 500;
    font-size: 16px;
    width: 100px;
    height: 32px;
    margin-top: 18px;
    border-radius: 5px;
    background-color: white;
}

.blog-text p {
    font-weight: 600;
    font-size: 18px;
    margin: 15px 0 20px 0;
    width: 272px;
}

.blog-icon {
    margin-bottom: 20px;
}

.blog-icon span {
    font-weight: 400;
    font-size: 16px;
    margin-right: 30px;
}

.view-btn {
    text-align: center;
    margin-bottom: 50px;
    display: none;
}

.view-btn button {
    Width: 187px;
    Height: 56px;
    background-color: tomato;
    border-radius: 5px;
    color: white;
    font-family: 'HelveticaNeue';
    font-weight: 400;
    font-size: 20px;
    border: 0;

}

footer {
    background-color: #FFF;
    text-align: center;

}

.footer-all {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
}

.footer-text h1 {
    color: white;
    font-weight: 600;
    font-size: 40px;
    text-align: center;
    margin-top: 86px;
    margin-bottom: 50px;
}

.footer-text hr {

    color: grey;
    width: 1320px;
}

.footer-menu {
    margin-top: 50px;
    margin-bottom: 100px;
    width: 900px;
    text-align: center;
    color: #B9B9B9;
}

.footer-menu a {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    color: #B9B9B9;
    margin-left: 55px;
}

.social-icone span {
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    margin-left: 55px;
    color: white
}

.social-icone {
    margin-bottom: 50px;
}

.social-icone a {
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    margin-left: 55px;
    color: blue
}

@media only screen and (max-width: 767px) {
    .banner {
        flex-direction: column;
        align-items: center;
        width: 334px;
        height: 472px;
        border-radius: 30px;
    }

    .banner-text {
        width: 258px;
        margin: 0;
        padding-right: 0px;
    }

    .banner-text button {
        margin-top: 21px;
    }

    .banner-text h1 {
        font-size: 22px;
    }

    .banner-text p {
        margin-bottom: 0px;
    }

    .banner-text p span {
        display: none;
    }

    .banner-image img {
        width: 233px;
        height: 245px;
        margin: 0;
    }

    main {
        flex-direction: column;
        align-items: center;

    }

    .blog {
        grid-template-columns: repeat(1, 1fr);
        margin: 0;
    }

    .blog-menu {
        background-color: white;
    }

    header {
        margin: 0px;
    }


    .footer-menu {
        display: flex;
        flex-direction: column;

    }

    hr {
        display: none;
    }

    .footer-menu a {
        margin-top: 40px;
        margin-left: 0px;
    }

    .social-icone {
        display: flex;
        flex-direction: column;
        margin: 0px;
    }

    .social-icone span {
        margin: 0px;
    }

    .social-icone a {
        margin: 0px;
    }
}